#header {
	background-color: #e50300;
	text-align: left;
	border-bottom: 4px solid #000000;
	display: flex;
	align-items: flex-start;
	height: 60px;
	width: 100%;
	margin: 0;
	padding: 0;
}

#header > #logo {
	height: auto;
	width: auto;
	margin: 0 30px 0 0;
	padding: 0;
}
#header > a {
	color: #e50300;
	background-color: white;
	text-decoration: none;
	font-size: 32px;
	text-shadow: -1px 1px 1px #000000;
	border-left: 4px solid #000000;
	border-bottom: 4px solid #000000;
	display: inline-block;
	margin: 8px 32px 12px;
	padding: 0 4px;
}
#header > a:hover {
	text-shadow: -1px 1px 1px white;
	border: none;
	margin: 12px 36px 12px 32px;
	border-width: 0;
}

.selection-window {

}

.items{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
}

.item-card{
	padding:2%;
	flex-grow:0;
	flex-shrink:0;
	flex-basis:16%;
	flex:1 1 auto;
	display:flex;
	align-items: center;
	justify-content: center;
}

.item-image{

}

.item-info{
	margin-top: auto;
	padding:5%;
	border:3px solid red;

}


nav{

}

nav li{
	display:inline-block;
	font-size: 20px;
	padding:20 px;
}


aside{
	border: 3px;
	float:left;
	padding: 20px;
	min-height:100%;
}

article{

}

footer{
}
